


{
    box-sizing: border-box;
    font-family: Times New Roman;

}

body {
      
    background-color:;
   
}

h1 {
    text-align: center;
    color: black;
        font-family: fantasy;
}

section {
    border: 4px solid black;
    background-color:grey;
    margin: 10px;
}

section>h2 {
    float: right;
    border-bottom: 5px solid red;
    border-left: 5px solid red;
    margin: 0;
    width: 230px;
    text-align: center;
    font-family: Arial;
    font-size: 20px;
    height: 45px;
    padding-top: 10px;
     background-color: red;
     border: 4px solid black;

}

section>h3{
    float: right;
    border-bottom: 5px solid red;
    border-left: 5px solid red;
    margin: 0;
    width: 230px;
    text-align: center;
    font-family: Arial;
    font-size: 20px;
    height: 45px;
    padding-top: 10px;
     background-color: pink;
     border: 4px solid black
}
section>display-4
{
     float: right;
    border-bottom: 5px solid red;
    border-left: 5px solid red;
    margin: 0;
    width: 230px;
    text-align: center;
    font-family: Arial;
    font-size: 20px;
    height: 45px;
    padding-top: 10px;
     background-color: yellow;
     border: 4px solid black

}


section.coursera>h2 {
    background-color: #634fcd;
}

section.udacity>h2 {
    background-color: #a195e1;
}

section.udemy>h2 {
    background-color: #8077b4;
}

section>p {
    padding: 40px 15px 15px 15px;
}

.wide {
    width: 100%;
}


/* Desktop view */

@media (min-width: 992px) {
    .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
        float: left;
    }
    .col-1 {
        width: 8.33%;
    }
    .col-2 {
        width: 16.66%;
    }
    .col-3 {
        width: 25%;
    }
    .col-4 {
        width: 33.33%;
    }
    .col-5 {
        width: 41.66%;
    }
    .col-6 {
        width: 50%;
    }
    .col-7 {
        width: 58.33%;
    }
    .col-8 {
        width: 66.66%;
    }
    .col-9 {
        width: 74.99%;
    }
    .col-10 {
        width: 83.33%;
    }
    .col-11 {
        width: 91.66%;
    }
    .col-12 {
        width: 100%;
    }
}


/* Tablet view */

@media (min-width: 768px) and (max-width: 991px) {
    .col-a, .col-b, .col-c, .col-d, .col-e, .col-f, .col-g, .col-h, .col-i, .col-j, .col-k, .col-l {
        float: left;
    }
    .col-a {
        width: 8.33%;
    }
    .col-b {
        width: 16.66%;
    }
    .col-c {
        width: 25%;
    }
    .col-d {
        width: 33.33%;
    }
    .col-e {
        width: 41.66%;
    }
    .col-f {
        width: 50%;
    }
    .col-g {
        width: 58.33%;
    }
    .col-h {
        width: 66.66%;
    }
    .col-i {
        width: 74.99%;
    }
    .col-j {
        width: 83.33%;
    }
    .col-k {
        width: 91.66%;
    }
    .col-l {
        width: 100%;
    }
}


/* Mobile view */

@media (max-width: 767px) {
.col-A, .col-B, .col-C, .col-D, .col-E, .col-F, .col-G, .col-H, .col-I, .col-J, .col-K, .col-L {
        float: left;
    }
    .col-A {
        width: 8.33%;
    }
    .col-B {
        width: 16.66%;
    }
    .col-C {
        width: 25%;
    }
    .col-D {
        width: 33.33%;
    }
    .col-E{
        width: 41.66%;
    }
    .col-F {
        width: 50%;
    }
    .col-G {
        width: 58.33%;
    }
    .col-H{
        width: 66.66%;
    }
    .col-I{
        width: 74.99%;
    }
    .col-J {
        width: 83.33%;
    }
    .col-K {
        width: 91.66%;
    }
    .col-L {
        width: 100%;
    }
}

